# Prologue

# Importing Modules

In [1]:
import sqlite3
import pandas as pd

# Reading CSV File

In [2]:
stream = pd.read_csv('twitch/stream.csv')

In [3]:
chat = pd.read_csv('twitch/chat.csv')

In [4]:
! touch twitch.sqlite

# Converting To SQLite

In [5]:
stream.to_sql('Stream', con = sqlite3.connect('twitch.sqlite'), index = False)

In [6]:
chat.to_sql('Chat', con = sqlite3.connect('twitch.sqlite'), index = False)

# Jupyter SQLite DB Connection

In [7]:
%load_ext sql

In [8]:
%sql sqlite:///twitch.sqlite

# Projection

In [9]:
%sql SELECT * FROM Stream LIMIT 5

 * sqlite:///twitch.sqlite
Done.

[('2015-01-01 18:33:52', '40ffc2fa6534cf760becbdbf5311e31ad069e46e', '085c1eb7b587bfe654f0df7b4ba7f4fc4013636c', 'frank', 'US', 'iphone_t', 'League of Legends', None, None),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0),
 ('2015-01-01 04:39:38', '2f9c3f9ee1033b71a3819564243f20ef3bec0183', '5b9a43e68f019185f55615d0b83019dee4b5d06f', 'frank', 'US', 'site', 'League of Legends', 'chunked', 0),
 ('2015-01-01 11:15:30', '0cda8226ba2583424c80c3c1c22c1256b080ad17', '02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b', 'estelle', 'CH', 'site', 'Dota 2', 'high', 0),
 ('2015-01-01 11:28:19', 'e3288ca5e3153aa85e32f64cdd994b7666968dcf', 'b920c228acbcbebee26d9c79f6eb73b73a9480c7', 'morty', 'FR', 'site', 'Heroes of the Storm', 'medium', 0)]

In [10]:
%sql SELECT * FROM Chat LIMIT 5

 * sqlite:///twitch.sqlite
Done.

[('2015-01-01 18:45:50', '70e2b95b5ac0d4c227e46966658d16b3e044996e', '5c2f5c1f19a7738e16ed0be551d865e8a8fce71d', 'jerry', 'BY', None, 'Dota 2'),
 ('2015-01-01 01:16:57', 'f2b9065b55fd80d6aa653ce989b489f4ec5198be', '0d77740e4fb5ce77d94f9f6c8ef1f762990d0344', 'elaine', 'HK', None, 'Devil May Cry 4: Special Edition'),
 ('2015-01-01 16:22:10', 'd448ba963d7e1023dd1b0a40b95d4f6611750692', '77ab14c1fb815e1c369ba0cf7d4c56b4fe489997', 'frank', 'GB', 'iphone_t', 'League of Legends'),
 ('2015-01-01 03:58:13', '8d6823dc52b400b50aebf269bf1f03a36d19eeaa', '91cb88c0743761589273fc5e800e7743ece46494', 'frank', 'US', 'iphone_t', 'League of Legends'),
 ('2015-01-01 11:47:35', '16c1e39594d62358d27ae604ad43a071f0d86bc4', '51a9234f83d656607cfd7f26690c12d2ffbce353', 'estelle', 'DE', None, 'Dota 2')]

# Exploratory Data Analysis

## Unique Games

In [11]:
%sql SELECT DISTINCT game FROM Stream

 * sqlite:///twitch.sqlite
Done.

[('League of Legends',),
 ('DayZ',),
 ('Dota 2',),
 ('Heroes of the Storm',),
 ('Counter-Strike: Global Offensive',),
 ('Hearthstone: Heroes of Warcraft',),
 ('The Binding of Isaac: Rebirth',),
 ('Agar.io',),
 ('Gaming Talk Shows',),
 (None,),
 ('Rocket League',),
 ('World of Tanks',),
 ('ARK: Survival Evolved',),
 ('SpeedRunners',),
 ('Breaking Point',),
 ('Duck Game',),
 ('Devil May Cry 4: Special Edition',),
 ('Block N Load',),
 ('Fallout 3',),
 ('Batman: Arkham Knight',),
 ('Reign Of Kings',),
 ('The Witcher 3: Wild Hunt',),
 ('The Elder Scrolls V: Skyrim',),
 ('Super Mario Bros.',),
 ('H1Z1',),
 ('The Last of Us',),
 ('Depth',),
 ('Mortal Kombat X',),
 ('Senran Kagura: Estival Versus',),
 ('The Sims 4',),
 ('You Must Build A Boat',),
 ('Choice Chamber',),
 ('Music',),
 ('Risk of Rain',),
 ('Grand Theft Auto V',),
 ('Besiege',),
 ('Super Mario Bros. 3',),
 ('Hektor',),
 ('Bridge Constructor Medieval',),
 ('Lucius',),
 ('Blackjack',),
 ('Cities: Skylines',)]

## Unique Channels

In [12]:
%sql SELECT DISTINCT channel FROM Stream

 * sqlite:///twitch.sqlite
Done.

[('frank',),
 ('george',),
 ('estelle',),
 ('morty',),
 ('kramer',),
 ('jerry',),
 ('helen',),
 ('newman',),
 ('elaine',),
 ('susan',)]

In [15]:
%sql SELECT game, COUNT(*) AS 'No. Streamers' FROM Stream GROUP BY 1 ORDER BY 2 DESC

 * sqlite:///twitch.sqlite
Done.

[('League of Legends', 193533),
 ('Dota 2', 85608),
 ('Counter-Strike: Global Offensive', 54438),
 ('DayZ', 38004),
 ('Heroes of the Storm', 35310),
 ('The Binding of Isaac: Rebirth', 29467),
 ('Gaming Talk Shows', 28115),
 ('World of Tanks', 15932),
 ('Hearthstone: Heroes of Warcraft', 14399),
 ('Agar.io', 11480),
 ('Rocket League', 7087),
 ('ARK: Survival Evolved', 4158),
 ('SpeedRunners', 3367),
 (None, 3124),
 ('Duck Game', 1063),
 ('Fallout 3', 485),
 ('Devil May Cry 4: Special Edition', 231),
 ('Breaking Point', 161),
 ('Batman: Arkham Knight', 117),
 ('Reign Of Kings', 50),
 ('The Witcher 3: Wild Hunt', 45),
 ('Block N Load', 34),
 ('Depth', 27),
 ('Mortal Kombat X', 22),
 ('H1Z1', 7),
 ('Super Mario Bros.', 6),
 ('Grand Theft Auto V', 5),
 ('Music', 4),
 ('The Elder Scrolls V: Skyrim', 3),
 ('The Last of Us', 3),
 ('Risk of Rain', 2),
 ('Senran Kagura: Estival Versus', 2),
 ('Besiege', 1),
 ('Blackjack', 1),
 ('Bridge Constructor Medieval', 1),
 ('Choice Chamber', 1),
 ('Cities: Skylines', 1),
 ('Hektor', 1),
 ('Lucius', 1),
 ('Super Mario Bros. 3', 1),
 ('The Sims 4', 1),
 ('You Must Build A Boat', 1)]

# No. Streamers of League of Legends By Their Country

In [16]:
%sql SELECT country, COUNT(*) AS 'No. Streamers' FROM Stream WHERE game = 'League of Legends' GROUP BY 1 ORDER BY 2 DESC

 * sqlite:///twitch.sqlite
Done.

[('US', 85606),
 ('CA', 13034),
 ('DE', 10835),
 (None, 7641),
 ('GB', 6964),
 ('TR', 4412),
 ('AU', 3911),
 ('SE', 3533),
 ('NL', 3213),
 ('DK', 2909),
 ('GR', 2885),
 ('PL', 2776),
 ('PT', 2757),
 ('RO', 2464),
 ('IT', 2333),
 ('FR', 2316),
 ('TW', 2257),
 ('BR', 2252),
 ('MX', 2244),
 ('NO', 2047),
 ('BE', 1712),
 ('ES', 1574),
 ('FI', 1416),
 ('CZ', 1143),
 ('NZ', 1104),
 ('RU', 1058),
 ('HU', 1037),
 ('AT', 952),
 ('LT', 903),
 ('BG', 894),
 ('HK', 892),
 ('HR', 869),
 ('CL', 835),
 ('RS', 748),
 ('IL', 593),
 ('CH', 577),
 ('JP', 562),
 ('SG', 558),
 ('AR', 541),
 ('MA', 462),
 ('IE', 461),
 ('CO', 446),
 ('SK', 437),
 ('SI', 436),
 ('SA', 422),
 ('AE', 371),
 ('BA', 330),
 ('PH', 315),
 ('KW', 314),
 ('PR', 292),
 ('EE', 250),
 ('LV', 231),
 ('MY', 229),
 ('CR', 222),
 ('UA', 220),
 ('TN', 193),
 ('KR', 192),
 ('VE', 192),
 ('CY', 161),
 ('EG', 160),
 ('VN', 159),
 ('AL', 153),
 ('PE', 150),
 ('MK', 139),
 ('TT', 124),
 ('ZA', 119),
 ('DO', 92),
 ('BB', 87),
 ('MT', 85),
 ('JM', 84),
 ('IN', 79),
 ('QA', 72),
 ('JO', 71),
 ('IS', 68),
 ('UY', 64),
 ('GE', 59),
 ('PA', 59),
 ('CN', 58),
 ('NI', 58),
 ('LU', 55),
 ('MO', 47),
 ('BS', 46),
 ('LB', 45),
 ('BH', 41),
 ('IQ', 41),
 ('ME', 41),
 ('GT', 38),
 ('TH', 37),
 ('PK', 36),
 ('DZ', 33),
 ('BY', 31),
 ('ID', 28),
 ('CW', 27),
 ('EC', 26),
 ('KZ', 26),
 ('MD', 25),
 ('HN', 24),
 ('SV', 24),
 ('AW', 20),
 ('OM', 20),
 ('PY', 17),
 ('RE', 17),
 ('FO', 16),
 ('IR', 16),
 ('GU', 15),
 ('BD', 14),
 ('JE', 14),
 ('BZ', 13),
 ('AM', 12),
 ('KE', 12),
 ('MN', 12),
 ('BO', 11),
 ('LI', 10),
 ('MU', 10),
 ('PS', 10),
 ('BN', 8),
 ('EU', 8),
 ('NG', 8),
 ('PF', 8),
 ('GP', 7),
 ('IM', 7),
 ('FJ', 6),
 ('VI', 6),
 ('AX', 5),
 ('BQ', 5),
 ('GF', 5),
 ('KY', 5),
 ('LC', 5),
 ('LK', 5),
 ('AI', 4),
 ('DM', 4),
 ('GG', 4),
 ('GI', 4),
 ('KH', 4),
 ('LY', 4),
 ('SD', 4),
 ('AG', 3),
 ('KG', 3),
 ('SR', 3),
 ('VC', 3),
 ('BM', 2),
 ('GL', 2),
 ('KN', 2),
 ('MC', 2),
 ('TC', 2),
 ('VG', 2),
 ('A1', 1),
 ('AD', 1),
 ('AZ', 1),
 ('GA', 1),
 ('GY', 1),
 ('MQ', 1),
 ('NC', 1),
 ('SC', 1),
 ('SM', 1),
 ('SN', 1)]

## Players' Devices

In [17]:
%sql SELECT player, COUNT(*) AS 'Number' FROM Stream GROUP BY 1 ORDER BY 2 DESC

 * sqlite:///twitch.sqlite
Done.

[('site', 246115),
 ('iphone_t', 100689),
 ('android', 93508),
 ('ipad_t', 53646),
 ('embed', 19819),
 ('xbox_one', 4863),
 ('home', 3479),
 ('frontpage', 1567),
 ('amazon', 1155),
 ('xbox360', 985),
 ('roku', 233),
 ('chromecast', 149),
 ('facebook', 83),
 ('nvidia shield', 3),
 ('ouya', 3),
 ('android_pip', 2)]

# Classifying Genres

In [16]:
# Multiplayer Online Battle Arena (MOBA), First Person Shooter (FPS), Survival, and Other

In [18]:
%sql SELECT game, CASE \
                    WHEN game = "League of Legends" THEN "MOBA" \
                    WHEN game = "Dota 2" THEN "MOBA" \
                    WHEN game = "Heroes of the Strom" THEN "MOBA" \
                    WHEN game = "Counter-Strike: Global Offensive" THEN "FPS" \
                    WHEN game = "DayZ" THEN "Survival" \
                    WHEN game = "Survival Evolved" THEN "Survival" \
                    ELSE "Other" \
                  END AS "Genre", COUNT(*) AS 'Number' FROM Stream GROUP BY 1 ORDER BY 3 DESC

 * sqlite:///twitch.sqlite
Done.

[('League of Legends', 'MOBA', 193533),
 ('Dota 2', 'MOBA', 85608),
 ('Counter-Strike: Global Offensive', 'FPS', 54438),
 ('DayZ', 'Survival', 38004),
 ('Heroes of the Storm', 'Other', 35310),
 ('The Binding of Isaac: Rebirth', 'Other', 29467),
 ('Gaming Talk Shows', 'Other', 28115),
 ('World of Tanks', 'Other', 15932),
 ('Hearthstone: Heroes of Warcraft', 'Other', 14399),
 ('Agar.io', 'Other', 11480),
 ('Rocket League', 'Other', 7087),
 ('ARK: Survival Evolved', 'Other', 4158),
 ('SpeedRunners', 'Other', 3367),
 (None, 'Other', 3124),
 ('Duck Game', 'Other', 1063),
 ('Fallout 3', 'Other', 485),
 ('Devil May Cry 4: Special Edition', 'Other', 231),
 ('Breaking Point', 'Other', 161),
 ('Batman: Arkham Knight', 'Other', 117),
 ('Reign Of Kings', 'Other', 50),
 ('The Witcher 3: Wild Hunt', 'Other', 45),
 ('Block N Load', 'Other', 34),
 ('Depth', 'Other', 27),
 ('Mortal Kombat X', 'Other', 22),
 ('H1Z1', 'Other', 7),
 ('Super Mario Bros.', 'Other', 6),
 ('Grand Theft Auto V', 'Other', 5),
 ('Music', 'Other', 4),
 ('The Elder Scrolls V: Skyrim', 'Other', 3),
 ('The Last of Us', 'Other', 3),
 ('Risk of Rain', 'Other', 2),
 ('Senran Kagura: Estival Versus', 'Other', 2),
 ('Besiege', 'Other', 1),
 ('Blackjack', 'Other', 1),
 ('Bridge Constructor Medieval', 'Other', 1),
 ('Choice Chamber', 'Other', 1),
 ('Cities: Skylines', 'Other', 1),
 ('Hektor', 'Other', 1),
 ('Lucius', 'Other', 1),
 ('Super Mario Bros. 3', 'Other', 1),
 ('The Sims 4', 'Other', 1),
 ('You Must Build A Boat', 'Other', 1)]

# How does view count change in the course of a day?

- This returns the seconds, SS, of the timestamp column!

- For `strftime(__, timestamp)`:
    - `%Y` returns the year (YYYY)
    - `%m` returns the month (01-12)
    - `%d` returns the day of the month (1-31)
    - `%H` returns 24-hour clock (00-23)
    - `%M` returns the minute (00-59)
    - `%S` returns the seconds (00-59)
    
- if time format is YYYY-MM-DD HH:MM:SS.

In [19]:
%sql SELECT strftime('%H', time) AS 'Hours 24-Format', COUNT(*) AS 'Streams' FROM Stream GROUP BY 1 ORDER BY 2 DESC;

 * sqlite:///twitch.sqlite
Done.

[('12', 50261),
 ('13', 43390),
 ('11', 33645),
 ('20', 29816),
 ('21', 29399),
 ('18', 28863),
 ('19', 28374),
 ('17', 28350),
 ('15', 26707),
 ('14', 26219),
 ('16', 25191),
 ('02', 24141),
 ('22', 22062),
 ('23', 19837),
 ('03', 16205),
 ('00', 15411),
 ('04', 15098),
 ('01', 14407),
 ('10', 11584),
 ('08', 11223),
 ('09', 9863),
 ('07', 8505),
 ('05', 6265),
 ('06', 1483)]

# Joining Stream and Chats

In [20]:
%sql SELECT * FROM Stream LIMIT 3

 * sqlite:///twitch.sqlite
Done.

[('2015-01-01 18:33:52', '40ffc2fa6534cf760becbdbf5311e31ad069e46e', '085c1eb7b587bfe654f0df7b4ba7f4fc4013636c', 'frank', 'US', 'iphone_t', 'League of Legends', None, None),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0),
 ('2015-01-01 04:39:38', '2f9c3f9ee1033b71a3819564243f20ef3bec0183', '5b9a43e68f019185f55615d0b83019dee4b5d06f', 'frank', 'US', 'site', 'League of Legends', 'chunked', 0)]

In [21]:
%sql SELECT * FROM Chat LIMIT 3

 * sqlite:///twitch.sqlite
Done.

[('2015-01-01 18:45:50', '70e2b95b5ac0d4c227e46966658d16b3e044996e', '5c2f5c1f19a7738e16ed0be551d865e8a8fce71d', 'jerry', 'BY', None, 'Dota 2'),
 ('2015-01-01 01:16:57', 'f2b9065b55fd80d6aa653ce989b489f4ec5198be', '0d77740e4fb5ce77d94f9f6c8ef1f762990d0344', 'elaine', 'HK', None, 'Devil May Cry 4: Special Edition'),
 ('2015-01-01 16:22:10', 'd448ba963d7e1023dd1b0a40b95d4f6611750692', '77ab14c1fb815e1c369ba0cf7d4c56b4fe489997', 'frank', 'GB', 'iphone_t', 'League of Legends')]

In [22]:
%sql SELECT * FROM Stream JOIN Chat ON Stream.device_id = Chat.device_id LIMIT 10

 * sqlite:///twitch.sqlite
Done.

[('2015-01-01 18:33:52', '40ffc2fa6534cf760becbdbf5311e31ad069e46e', '085c1eb7b587bfe654f0df7b4ba7f4fc4013636c', 'frank', 'US', 'iphone_t', 'League of Legends', None, None, '2015-01-01 22:43:57', '40ffc2fa6534cf760becbdbf5311e31ad069e46e', '085c1eb7b587bfe654f0df7b4ba7f4fc4013636c', 'frank', 'US', 'iphone_t', 'League of Legends'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 20:41:09', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 20:41:16', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 20:46:02', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 21:19:08', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 21:23:49', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 22:00:41', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 22:02:43', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 22:09:32', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ'),
 ('2015-01-01 23:35:33', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', 'site', 'DayZ', 'chunked', 0, '2015-01-01 22:09:49', '9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760', '5ad49a7b408ce452140b180dd6efb57a9f4d22c7', 'george', 'US', None, 'DayZ')]